@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;800;900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:wght@400;500;900&family=Ubuntu:wght@300;400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

#root{
  display: flex;
  min-height: 100vh;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}